 /* div{
    height:100px;
    width:200px;
    background-color: pink;

    border-width:5px;
    border-style: solid;
    border-color:darkblue;
            OR
    border:50px dotted darkorange;
    text-align:right;
}

h1{
    width:300px;
    background-color: aquamarine;

    border-width:10px;
    border-style:double;
    border-color:darkmagenta;
             OR
    border:5px solid darkorchid;
    text-align:center; 
}

button{
    width: 100px;
    height:20px;
}

p{
    height:200px;
}  */

#div1{
    width:100px;
    height:100px;
    background-color:pink;
    border: 5px solid darkred;
    /* border-radius:20px; */
    /* border-radius:50% */
    padding:25px 25px 25px 25px;
    margin-top:25px;
}
#div2{
    height:100px;
    width:100px;
    background-color:pink;
    border:5px solid darkred;
    /* border-radius:20px; */
    padding-top:30px;
    margin:30px;
}
#div3{
    height:100px;
    width:100px;
    background-color:pink;
    border: 5px solid darkred;
    padding:30px;
    margin: 15px 11px 23px 19px;
    /* border-radius:20px; */
}
div{
    height:100px;
     width:auto;
     background-color:aquamarine;

}

