/* div{
    background-color:pink;
    display:inline;
}
button{
    display:block;
    background-color: pink;
} */

div{
    height:100px;
    width:100px;
    display:inline;
    padding:25px;
    margin:25px;
    display: inline-block;
}
#one{
    background-color: blue;
}
#two{
    background-color: brown;
    /* display: none; */
    visibility: hidden;
}
#three{
    background-color:chartreuse ;
}

/* rgba chenal
    in range = 0 to 1 */
#four{
    background-color: rgba(255,0,0,0.5);
}